:import {
  -st-from: '../../mixins/mixins.st.css';
  -st-named: ellipsisMixin;
}

.root {
  -st-states: truncate;
}

.root.speakLoud {}

.root.speak {}

.root.speakSoft {}

.root.uppercase {}

.root.bold {}

/* State selectors */
.root:truncate {
  -st-mixin: ellipsisMixin;
}
