@namespace "header";
:import {
    -st-from: '../project.st.css';
    -st-named:  roar
}

/* button.st.css */
:import {
    -st-from: '../Button/button.st.css';
    -st-default: Button;
    -st-named: extendTest;
}

.cancelButton {
    -st-extends: Button;
}

.root {
  background-color: #222;
  padding: 20px;
  color: white;
}

.reactLogo {
  height: 80px;
}

.stylableLogo {
  height: 80px;
  width: 55px;
}

.title {
  /* height: value(inputHeight); */
  color: pink;
}



.button {
  -st-extends: roar;
  font-size: 25px
}
